
.nav{
    float: right;
    background-color: #fff;
}
.nav strong{
    margin-right: 950px;
}
.nav span{
    color: #316ccd;
}
.nav a{
    text-decoration: none;
    padding: 14px;
    color: black;

}
.nav button{
    color: #fff;
    background-color: #316ccd;
    padding: 10px 15px 10px 15px;
}
.home {
    background-image: url("bg.png");
    background-size: cover;
    background-repeat: none;
    height: 700px;
    text-align: center;
    color: #fff;
}
.home h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-top: 200px;

}
.btn {
    padding-top: 80px;
}
.services {
    background-color: #316ccd;
    padding: 15px 20px 15px 20px;
    border: none;
    color: #fff;
}
.home button{
    margin: 40px;
    font-weight: 700;
}
.btn2{
    color: #ffff;
    padding: 15px 20px 15px 20px;
    background-color: transparent;
    border: solid #fff 1px;


}
.about{
    display: flex;
    justify-content: space-around;
}
.about button{
    background-color: #316ccd;
    padding: 15px 20px 15px 20px;
    border: none;
    color: #fff;
    margin-bottom: 100px;
}
#first-p {
    padding: 50px 0 60px;
    font-size: 20px;
}
.about p{
    font-size: 18px;
    line-height: 2;
}
.about b{
    font-size: 20px;
}
.fourth {
    background-image: url("Rectangle\ 11.png");
    background-size: cover;
    background-repeat: none;
    height: 500px;
    text-align: center;
    color: #fff;

}
.fourth h2{
    padding-top: 100px;
    font-weight: 500;
}
.fourth h1{
    font-size: 50px;
}
.fourth button{
    margin-top: 50px;
}